PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
0 9 * * * python3 /usr/src/app/Morning.py >> /usr/src/app/cron.log 2>&1 || echo "Cron job failed" >> /usr/src/app/cron.log 2>&1
0 22 * * * python3 /usr/src/app/Night.py >> /usr/src/app/cron.log 2>&1 || echo "Cron job failed" >> /usr/src/app/cron.log 2>&1
* * * * * python3 /usr/src/app/Morning.py >> /usr/src/app/cron.log 2>&1 || echo "Cron job failed" >> /usr/src/app/cron.log 2>&1
